[Unit]
Description=Barley web server
Requires=network.target barley-machine-key.service barley-ssh-ca.service
After=network.target barley-machine-key.service barley-ssh-ca.service

[Service]
ExecStart=/usr/local/bin/barley
Restart=on-failure
User=barley
Group=barley

[Install]
WantedBy=multi-user.target
