[Unit]
Description=Generate Barley SSH CA key
ConditionFileNotEmpty=!/var/lib/barley/ca

[Service]
Type=oneshot
ExecStart=ssh-keygen -q -N '' -C barley -f /var/lib/barley/ca -t ed25519
User=barley
Group=barley
