[Unit]
Description=Register Barley Seed with the Sower
Requires=network-online.target ssh-host-key.service
After=network-online.target ssh-host-key.service
Wants=ssh.service
Before=ssh.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/register-barley-seed

[Install]
WantedBy=ssh.service
