[Unit]
Description=Generate OpenSSH host key
Wants=ssh.service
Before=ssh.service

[Service]
Type=oneshot
ExecStart=ssh-keygen -q -N '' -f /etc/ssh/ssh_host_ed25519_key -t ed25519

[Install]
WantedBy=ssh.service
