[Unit]
Description=Generate OpenSSH host key
ConditionFileNotEmpty=!/etc/ssh/ssh_host_ed25519_key

[Service]
Type=oneshot
ExecStart=ssh-keygen -q -N '' -f /etc/ssh/ssh_host_ed25519_key -t ed25519
