[Unit]
Description=Update IP address in dnsmasq and pxelinux configs
Requires=network-online.target
After=network-online.target
Wants=dnsmasq.service nginx.service
Before=dnsmasq.service nginx.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-sower-ipaddress

[Install]
WantedBy=dnsmasq.service nginx.service
